:root{
    --numeric: 'Cutive Mono', monospace;
    --text: 'Lexend Deca', sans-serif;

    --lgrey: #F5F7FA;
    --mgrey: #CCD1D9;
    --dgrey: #656D78;
    --charcoal: #3C3B3D;
    --invis: #0000;
    
    --red: #D30000;
    --black: #3C3B3D;
    --green: #007C00;
    --lGreen: #42B200;
    --bg: #FFF;
    --lBg: #656D78;
    --loading: #006
}

body{
    background-color: var(--deep);
    color: var(--lgrey);
    margin: 0;
    font-family: var(--text);
    overflow: auto;
    position: relative;
    user-select: none;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

*,*::before{
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.noDisplay{ display: none; }

header,footer{ width: 100%; height: 3rem; background-color: var(--bg); }
main{ width: 100%; height: calc( 100% - 6rem); display: flex; background-color: var(--lBg); flex-direction: column; overflow-y: auto;}
section{ min-height: 20rem; width: 100%; }

.loading1,.loading2{ width: 0%; height: 100%; background-color: var(--loading); transition: all 0.25s;}

canvas{ width: 800; height: 1100}